
section{
    padding: 3rem 0;
}

.img-returnal .row .col{
    padding-top: 300px;
}
.jumbotron{ 
    background-size:cover;
    background-position: center;
    
     
}

.jumbotron .img-box{
    width: 50%;
    min-width: 240px;
}

.barra-nera .img-box{
    width: 80px;
    margin-left: auto;
}
.img-returnal{
    background-image:url(../img/jumbo-bg.png) ;
}
.img-ittakestwo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.burger-icon{
    width: 16px;
    aspect-ratio: 1 / 1;
}