:root{
    --my-color-primary:#00439C;
    --my-color-secondary:#161C3B;
    --my-color-third:#BEBCBB;
    --my-color-forth:#1F1F1F;
    --my-btn-color:#CD3D0F;
}
.my-bg-primary{
    background-color: var(--my-color-primary);
}
.my-bg-secondary{
    background-color: var(--my-color-secondary);
}
.my-bg-third{
    background-color: var(--my-color-third);
}
.my-bg-forth{
    background-color: var(--my-color-forth);
}
.my-c-primary{
    color: var(--my-color-primary);
}
header{
    position: sticky;
    top: -25px;
}
section{
    padding: 3rem 0;
}
a{
    text-decoration: none;
}
nav a{
    color: black;
}
footer a{
    color: white;
}
main h1{
    margin-bottom: 1rem;
}
.box-text{
    padding-bottom: 1rem;
}
.banner{
    padding: 0 0 ;
}

.img-returnal .row .col{
    padding-top: 300px;
}
.jumbotron{ 
    background-size:cover;
    background-position: center;
    
     
}

.jumbotron .img-box{
    width: 50%;
    min-width: 240px;
}

.barra-nera .img-box{
    width: 80px;
    margin-left: auto;
}

.footer-bottom .img-box{
    width: 100px;
}
.nav-link-right .img-box img{
    width: 20px;
}

.img-returnal{
    background-image:url(../img/jumbo-bg.png) ;
}
.img-ittakestwo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.burger-icon{
    width: 16px;
    aspect-ratio: 1 / 1;
}
.arrow-down{
    width: 10px;

}
.social-box{
    width: 160px;

}

.ft-size-0-8{
    font-size: .8rem;
}
.hamburger-btn{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: .2rem .5rem;
    
}

.my-btn{
    border: unset;
    padding: .4rem .8rem;
    border-radius: 20px;
    
}
main .my-btn{
    margin-top: 1rem;
}
.btn-orange{
    background-color: var(--my-btn-color);
    color: white;
    
}
.btn-blu{
    background-color: var(--my-color-primary);
    color: white;
    
}
.btn-light-blu{
    background-color: lightblue;
    color: var(--my-color-primary);
    
}
/* ------MEDIA QUERIES-------- */
@media screen and (min-width:576px) {
    .social-box{
        aspect-ratio:1 / 1;
        width:60px;
        
    }
}
@media screen and (min-width:768px){
    .wd-md-50{
        width: 50%;
    }

}
@media screen and (min-width:992px){
    .wd-lg-100{
        width: 100%;
    }
}